.royalty {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txtBox {
    display: flex;
    flex-direction: row;
    width: 520px;
}

.staticTxt {
    width: 120px;
    text-align: left;
    color: rgb(77, 77, 77);
}

.btn {
    width: 100px;
    left: 10px;
}