:root {
    --blue-color: rgb(25, 118, 210);
}

.minter {
    padding: 10px;
    padding-right: 15px;
    background-color: lightgray;
    border: 3px solid var(--blue-color);
    border-radius: 25px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
}

.label {
    padding: 10px;
    color: var(--blue-color);
}