.royalty {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    padding: 5px;
    align-items: center;
}

.btn {
    left: 5px;
    width: 100px;
}

.txt {
    display: flex;
    flex-direction: row;
    text-align: start;
    width: 595px;
}