.wallet {
    position: relative;
    background-color: rgb(215, 215, 215);
    border: 2px solid steelblue;
    border-radius: 25px;
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.label {
    padding: 10px;
    color: steelblue;
}

.refreshBox {
    position: absolute;
    top: 15px;
    right: 15px;
    width: fit-content;
}

.refreshIcon {
    color: steelblue;
}