.actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 650px;
}

.fields {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 12px;
}

.addr {
    width: 520px;
}

.size {
    width: 100px
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 7px;
    gap: 5px;
}