body {
  background-color: #f1f1f1;
}

/* .App {
  width: 100%;
} */

.Container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;
}

.Connect {
  float: right;
}


.Header {
  color: darkblue;
  text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.2);
}